services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"

  web:
    build:
      context: ../../angular/project-hub
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - api
