services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: persist
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/project_hub?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: project_hub
      SPRING_DATASOURCE_PASSWORD: project_hub
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "8080:8080"
    depends_on:
      - db

  web:
    build:
      context: ../../angular/project-hub
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - api

  db:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: project_hub
      MYSQL_USER: project_hub
      MYSQL_PASSWORD: project_hub
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:5
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: project_hub
      PMA_PASSWORD: project_hub
    ports:
      - "8082:80"
    depends_on:
      - db

volumes:
  mysql-data:
